<html lang="en"><head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Travel App - Katherine Delorme</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Travel App ">
	<meta name="keywords" content="Travel App, Javascript, Node, Express, API, Fetch">
	<meta name="author" content="Katherine Delorme">
	<meta name="application-name" content="Travel">
	<!--Dublin Core-->
	<meta name="DC.Title" content="Travel App - Katherine Delorme">
	<meta name="DC.Creator" content="Katherine Delorme">
	<meta name="DC.Subject" content="Travel">
	<meta name="DC.Description" content="Travel App">
	<meta name="DC.Type" content="App">
	<meta name="DC.Language" content="English">
	<!--Twitter Card: Summary-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Katdelorme">
	<meta name="twitter:title" content="Travel App - Katherine Delorme">
	<meta name="twitter:description" content="Travel App">
	<meta name="twitter:image" content="">
	<!--Facebook Open Graph-->
	<meta property="og:url" content="">
	<meta property="og:type" content="webpage">
	<meta property="og:title" content="Travel App - Katherine Delorme">
	<meta property="og:description" content="Travel App">
	<meta property="og:image" content="">
	<!--robots index-->
	<meta name="robots" content="noindex,nofollow">
	<!--favicon-->
	<link rel="icon" type="image/png" href="assets/fav.png">
	<!--stylesheets-->
	<!--stylesheets using webpack doesn't need to be called-->
	<!-- <link rel="stylesheet" href="css/styles.css"> -->
	<!--fonts-->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
</head>

<body>
	<header>
		<nav>
			<h3>
				<a href="#"><h3 class="text-bold">Travel App</h3></a>
			</h3>
			<div class="nav-link">
				<ul id="nav-links">
					<li>Trip Planning</li>
					<li>Packing Guides</li>
				</ul>
			</div>
		</nav>
	</header>

  <section class="container color-section">
		<h1 class="heading">Hi <span class="text-bold">Traveler</span>,</h1>
	</section>

	<section class="container-split color-section">
		<div class="left">
			<div class="item zipcode">
				<label>Where are you headed?</label>
				<input type="text" id="city" placeholder="City or Country">
				<div id="alert"></div>
				<label>When are you leaving</label>
				<input id="leaving" type="date" value="" placeholder="date" name="date"><br/>
				<label>When will you return</label>
				 <input id="returning" type="date" value="" placeholder="date" name="date"><br/>
			</div>
			<div class="item clothing">
				<!-- <button id="generate" class="btn" type="submit">Let's Travel</button> -->
				<button class="continue btn">Let's Travel</button>
			</div>
		</div>
		<div class="right">
			<div class="resultpart">
					<div class="container-img">
						<img id="img" />
					</div>
					<div class="result">
						<div class="titles">
							<p>
								<span class="text-bold">Country: </span>
								<span id="country"></span>
							</p>
							<p>
								<span class="text-bold">City: </span>
								<span id="place"></span>
							</p>
							<p>
								<span class="text-bold">Weather: </span>
								<span id="weather"></span>
							</p>
							<p>
								<span class="text-bold">Weather Forecast: </span>
								<span id="description"></span>
							</p>
							<p>
								<span class="text-bold">Leaving Date: </span>
								<span id="leavingdate"></span>
							</p>
							<p>
								<span class="text-bold">Returning Date: </span>
								<span id="returningdate"></span>
							</p>
						</div>
					</div>
			</div>
		</div>
	</section>

  <!-- Footer -->
  <footer>
  	<p class="text-center">Travel App</p>
  </footer>
	<!-- Footer End-->

	<!-- JS File-->
	<!--using webpack this doesn't need to be called-->
	<!-- <script src="app.js"></script> -->

	<script>
	 // Check that service workers are supported
	 if ('serviceWorker' in navigator) {
	     // Use the window load event to keep the page load performant
	     window.addEventListener('load', () => {
	         navigator.serviceWorker.register('/service-worker.js');
	     });
	 }
	</script>

	</body>
</html>
